html, body {
    min-width: 1200px;
}
.p_dashboard {
    display: flex;
    min-height: 600px;
    .sider {
        width: 200px;
        min-height: 100%;
        .el-menu {
            border-radius: 0;
            height: 100%;
        }
    }
    .main {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
}